/* Page style */
#container {
	width: 60%;
	margin: auto;
}

.navbar-brand {
	padding: 8px !important;
}

.navbar-brand img {
	height: 32px;
	width: auto;
}

.table tbody tr td {
	height: 38px;
	vertical-align: middle !important;
}

/* File types */

.file {
	display: inline-block;
	width: 39px;
	vertical-align: middle;
	text-align: center;
	border-color: #999;
	color: #999;
	padding: 9px 0px;
	font-family: monospace;
	border-radius: 11px 1px 1px 1px;
	line-height: 18px;
	font-size: 12px;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	margin: 0px 5px 0px 0px;
	word-wrap: break-word;
}	

	/* Inverse Microsoft Office */

	.file.excel:hover {
		color: #4B9F4A;
		border-color: #4B9F4A;
	}
	
	.file.word:hover {
		color: #2165A4;
		border-color: #2165A4;
	}
	
	.file.powerpoint:hover {
		color: #EB5429;
		border-color: #EB5429;
	}

	/* Inverse iWork */
	
	.file.pages:hover {
		color: #373659;
		border-color: #373659;
	}
	
	.file.numbers:hover {
		color: #446DAB;
		border-color: #446DAB;
	}
	
	.file.keynote:hover {
		color: #C97334;
		border-color: #C97334;
	}

/*116455*/