/* Page style */
#container {
	width: 60%;
	margin: auto;
}

.navbar-brand {
	padding: 8px !important;
}

.navbar-brand img {
	height: 32px;
	width: auto;
}

.table tbody tr td {
	height: 38px;
	vertical-align: middle !important;
}

#actionset button {
	margin-bottom: 10px;
}

/* File types */

td:last-of-type a {
	display: inline-block;
	width: 39px;
	vertical-align: middle;
	text-align: center;
	border-color: #999;
	color: #999;
	padding: 9px 0px;
	font-family: monospace;
	border-radius: 11px 1px 1px 1px;
	line-height: 18px;
	font-size: 12px;
	border-style: solid;
	border-width: 1px;
	margin: 0px 5px 0px 0px;
	word-wrap: break-word;
}

td:last-of-type a:hover {
	text-decoration: none;
}

	/* Inverse Microsoft Office */

	td:last-of-type a[href*=".xls"]:hover {
		color: #4B9F4A;
		border-color: #4B9F4A;
	}

	td:last-of-type a[href*=".xls"]::after {
		content: "XLSX";
	}
	
	td:last-of-type a[href*=".doc"]:hover {
		color: #2165A4;
		border-color: #2165A4;
	}

	td:last-of-type a[href*=".doc"]::after {
		content: "DOC";
	}
	
	td:last-of-type a[href*=".ppt"]:hover {
		color: #EB5429;
		border-color: #EB5429;
	}

	td:last-of-type a[href*=".ppt"]::after {
		content: "PPT";
	}

	/* Inverse iWork */
	
	td:last-of-type a[href*=".pages"]:hover {
		color: #373659;
		border-color: #373659;
	}

	td:last-of-type a[href*=".pages"]::after {
		content: "PAGES";
	}
	
	td:last-of-type a[href*=".key"]:hover {
		color: #C97334;
		border-color: #C97334;
	}

	td:last-of-type a[href*=".key"]::after {
		content: "KEY";
	}

/*116455*/
